// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "octicon-utf-codes";

.hide-tree {
    height:100%;
    position: absolute;
    z-index:2000;
}

.hide-tree .gutter{
  height:100%;
  width:2px;
  background-color:green;
}
span.mega-octicon{
  font-family: "Octicons Regular";
  font-size: 18px;
}
span.mega-octicon.octicon-pin.push-pin:hover {
  color: red;
}
span.mega-octicon.octicon-pin.push-pin {
  color: darkred;
}


.hide-tree span {
  opacity: 0.7;
}

span.mega-octicon.octicon-pin:hover {
  color:darkgreen;
}

span.mega-octicon.octicon-pin{
  color:green;
  position:absolute;
  z-index:1000;
  top:20px;
  right:5px;
  opacity: 0.7;
}

.octicon-pin::before{
  content: "\f041";
}
.hide-tree span.octicon-lock.active:hover {
  color:darkgreen;
}


.hide-tree .mega-octicon.octicon-lock::before{
  content: "\f06a";
}
.hide-tree .octicon-move-right::before{
  content: "\f0a9";
}
.hide-tree .octicon-move-left::before{
  content: "\f074";
}
.hide-tree span.octicon-lock{
  color:red;
  position:absolute;
  z-index:1000;
  top:20px;
}

.hide-tree span.active.octicon-lock {
  color:green;
}

.hide-tree span.octicon-lock.active:hover {
  color:darkgreen;
}


.hide-tree span.octicon-lock:hover {
  opacity: 1.0;
  color:darkred;
}

.hide-tree span.octicon-move-right{
  color:yellow;
  position:absolute;
  z-index:1000;
  top:95%;
}

.hide-tree span.octicon-move-left{
  color:yellow;
  position:absolute;
  z-index:1000;
  top:95%;
}
.hide-tree span.mega-octicon{
  left:5px;
  right:0px;
}

.hide-tree.right span.mega-octicon{
  right: 0px;
  left: -35px;
}
